@charset "utf-8";
/* CSS Document */

.leftmenu_linksList .innersublinks_list {
	float: left;
	height: auto;
}
.addToCart {
	background:url("../images/cart_icon.png") no-repeat 15px center #00599B;
}
.leftmenu_subLinksList.lastUL_borderbg {
	background:none;
}
.Sitemap_InnerBox li {
	padding-bottom:6px;
}
.Sitemap_InnerBox li.sublinks_sitemap li {
	padding-bottom: 6px;
}
.Sitemap_rightfold {
	bottom: -73px;
}
.glacierFest .footer_copyrights p {
	padding-bottom:50px;
}
.glacierFest .footer_copyrights {
	padding-bottom: 20px;
	padding-top:10px;
}