
.our_team_slider .mask
{
	   margin: 0 auto;
    overflow: hidden;
    position: relative;
   /* width: 1162px;*/
   width:100%;
	
}


.our_team_slider .carousel ul li {
    float: left;
    height: 280px;
    margin: 0;
    text-align: left;
    width: 210px;
}


.slide{
	  background: none repeat scroll 0 0 #fff;
    border: 1px solid #fff;
    margin-right: 10px !important;
	margin-left:15px !important;
    padding: 8px !important;
   
}


.our_team_slider .carousel ul {
    list-style: none outside none;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: absolute;
}



.our_team_slider .carousel .prev_carosel
 {
	 background: url("../images/arrow-left.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: block;
    height: 54px;
    left: -10px;
    position: absolute;
    top: 36%;
    width: 54px;
    z-index: 100;
 }
 
.our_team_slider .carousel .next_carosel
 {
	background: url("../images/arrowright.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: block;
    height: 54px;
    position: absolute;
    right: -10px;
    top: 35%;
    width: 54px;
    z-index: 100;
 }
 
 .instructorcarosl
 {
	 position:relative;
	 /*overflow:hidden;*/
 }
 
 .spantextt
 {
	 visibility:hidden;
 }
 
 .lastinstructor
{
margin-right:0px !important;
}


.ourteam_text p
{
	color:#0d4470;
	font-size:13px;
	font-family:arial;

	font-weight:bold;
	margin-top:10px;
	margin-bottom:10px;
}
.ourteam_text p span
{
	color:#7d7d7d;
font-family:arialMt;
font-size:13px;
	font-weight:normal;
}			
	