body
{
padding:0px;
margin:0px;
}


#container
{
background:#fff;
width:100%; 
float:left;
clear:both;

}

.header_wrapper_outer
{
width:100%;
float:left;
clear:both;
background:#dfe0e2;
border-top: #237dc2 2px solid ;
}

.wrapper_fixed
{
width:960px;
margin:0 auto;
}

#slider
{
width:100%;
float:left;
clear:both;
margin: 0;
padding: 0;
}

.slider_image
{
position:relative;
 margin: 0;
    padding: 0;
}
.slider_text
{
position:absolute;
color:yellow;
font-family:arialmt;

top:150px;
font-size:25pt;
}
.slider_text1
{
width:50%;
position:absolute;
font-family:arialmt;
color:#DBDBDB;

top:210px;
font-size:12pt;
}
.slider_text2
{
color:#5BB6FC;
width:50%;
font-family:arialmt;
position:absolute;

top:260px;
font-size:12pt;
}
#content1
{
width:100%;
float:left;
clear:both;
background-color:#dfe0e2;
height:400px;
color:#5C5959;
padding:0px;

}
#content1_left
{
float:left;
width:31.3%;
margin-top:0px;
color:#404041;
}
#content1_center
{
margin-top:0px;
float:left;
width:31.3%;
margin-left:3%;

}
#content1_right
{
margin-top:0px;
float:left;
width:31.3%;
margin-left:3%;

}
.content_image
{
border:1px solid white;
}
#content1_heading
{
font-size:16pt;
font-family:arialmt;

}
#content1_text
{
font-size:10pt;
font-family:arialmt;
color:#404041;
text-align:justify;
}
#testimonial
{
width:100%;
float:left;
clear:both;
background-image:url('../images/testbg.jpg') ;
background-repeat:repeat-x;
background-size:cover;
width:100%;
height:200px;
 margin-top:-20px;
    padding-top: 5px;
padding-bottom: 5px;
}
#testimonial_heading
{

color:#6fd1ff;
font-size:16pt;
font-family:arialmt;
}
#testimonial_text
{
font-size:10pt;
color:#fff;
font-family:myriadlight;
}
.customername
{
color:#91e4ff;
font-size:13pt;
font-family:myriad;
}
#features
{
width:100%;
float:left;
clear:both;
background-color:#dfe0e2;
height:450px;
width:100%;
color:#5C5959;
}
#features_heading
{
font-size:16pt;
font-family:myriadlight;
}
#features_content
{
float:left;
width:65%;
}
#features_text
{
font-size:10pt;
font-family:myriadlight;

text-align:justify;
}
#signup_div
{
float:left;
width:30%;
margin-left:5%
}
.submit
{
border-radius:15px;
background-color:#e6e6e0;
color:#5C5959;
padding:8px;
padding-left:40px;
padding-right:40px;
cursor:pointer;
box-shadow:10px rgb(0,0,0,0.2);
font-size:10pt;

}
.input
{
border-radius:20px;
font-size:10pt;
color:#5C5959;
background-color:#e6e6e0;
color:black;
margin-bottom:5px;
border:solid 1px #dfe0e2;
padding:4px;
padding-left:15px;
box-shadow:inset 2px 2px 1px 1px rgba(0,0,0,0.1);
}
.help
{
border:solid 1px #dfe0e2;
border-radius:10px;
font-size:12pt;
background-color:#e6e6e0;
font-size:10pt;
color:#5C5959;
padding:4px;
margin-bottom:10px;
box-shadow:inset 3px 3px 1px 1px rgba(0,0,0,0.1);
padding-left:15px;
}
::-webkit-input-placeholder { 
    color:#000;
	font-family:myriad;
}
:-moz-placeholder {
    color:#000;
	font-family:myriad;
}
::-moz-placeholder { 
    color:#000;
	font-family:myriad;
}
:-ms-input-placeholder {
    color:#000;
	font-family:myriad;
}
#highlights
{
width:100%;
float:left;
clear:both;
width:100%;
height:350px; 
background-color:white;
margin-top:-20px;
color:#5C5959;
}
#highlights_heading
{
width:100%;

}
#highlights_left
{
float:left;
width:31.3%;

color:#404041;
}
#highlights_center
{
float:left;
width:31.3%;
margin-left:3%;
}
#highlights_right
{
float:left;
width:31.3%;
margin-left:3%;
}
#highlight_text
{
font-size:10pt;
font-family:arialmt;
color:#404041;
text-align:justify;
}
.image1
{
position:relative;
}
.image_caption1
{
width:290px;
height:20px;
position:absolute;
margin-left:6px;
margin-top:-30px;
background-color:black;
color:white;
display:none;
opacity:.7;
}
.image2
{
position:relative;
}
.image_caption2
{
width:290px;
height:20px;
position:absolute;
margin-left:6px;
margin-top:-30px;
background-color:black;
color:white;
display:none;
opacity:.7;
}
.image3
{
position:relative;
}
.image_caption3
{
width:290px;
height:20px;
position:absolute;
margin-left:6px;
margin-top:-30px;
background-color:black;
color:white;
display:none;
opacity:.7;
}
#footer
{
width:100%;
float:left;
clear:both;
background-image:url('../images/footer.jpg') ;
background-repeat:repeat-x;
height:50px;
color:#fff;
font-size:9pt;
font-family:arialmt;
}
a
{
color:#fff;
font-size:9pt;
font-family:arialmt;
text-decoration:none;
}
